<!-- main-area -->
{% extends 'farm_app/base.html' %}
{% block content %}

<!--<head>-->
<!--   <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--   <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>-->
<!--</head>-->

<style>
    .container {
        padding: 10px;
        border-radius: 10px;
    }
</style>

<body>
    <main>
        <div class="checkout-area pt-90 pb-90">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="container" style="margin-top:-95px; width:-100%;">
                            <div class="row my-3">
                                <div class="col-sm-6 offset-sm-3">
                                    <form class="shadow p-4" method="post">

                                        <div class="mb-8">
                                            <div class="mb-3">
                                                <div class="head">
                                                    <div class="card-header row justify-content-center"
                                                        style="margin-top:-25px; margin-left:-25px; margin-right:-25px">
                                                        <h4>Change Password </h4>
                                                    </div>
                                                </div>
                                            </div>
                                              {% csrf_token %}
                                              {{ form.as_p }}
                                            <div class="mb-3">
                                                <button class="btn btn-success"
                                                    style="border-radius:20px; font-size:10px;" type="submit">submit
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
<!--    </main>-->
<!--      <script>-->
<!--        $(document).ready(function() {-->
<!--            $("#changePasswordForm").validate({-->
<!--                rules: {-->
<!--                     currentPassword: {-->
<!--                        required: true,-->
<!--                    },-->
<!--                    newPassword: {-->
<!--                        required: true,-->
<!--                        minlength: 8,-->
<!--                        strongPassword: true,-->
<!--                    },-->
<!--                    confirmPassword: {-->
<!--                        required: true,-->
<!--                        equalTo: "#newPassword"-->
<!--                    }-->
<!--                },-->
<!--                messages: {-->
<!--                    newPassword: {-->
<!--                        required: "Please enter a password",-->
<!--                        minlength: "Password must be at least 8 characters long",-->
<!--                        strongPassword: "Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character"-->
<!--                    },-->
<!--                    confirmPassword: {-->
<!--                        required: "Please confirm your password",-->
<!--                        equalTo: "Password not matching"-->
<!--                    },-->
<!--                },-->

<!--            });-->

<!--            $.validator.addMethod("strongPassword", function(value, element) {-->
<!--                return this.optional(element) || /^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[!@#$%^&])[A-Za-z\d!@#$%^&]{8,}$/.test(value);-->
<!--            }, "Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character");-->
<!--        });-->
<!--    </script>-->
<!--</body>-->
{% endblock %}