{% extends 'farm_app/base.html' %}
{% block content %}
<style>
    .error{
    color: red;
    }
</style>
<div class="checkout-area pt-90 pb-90">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                                <form action="#" id="login_Form" method="POST" novalidate class="shadow p-5">
                                        {% csrf_token %}
                                    <div class="checkout-form-top row justify-content-center breadcrumb-area breadcrumb-bg-two" style="margin-top:-50px;margin-right:-48px;margin-left:-48px;">
                                         <h5 class="card-header row justify-content-center breadcrumb-area breadcrumb-bg-two" style="margin-top:-10px; margin-left:20px;"><h3>Login</h3></h5>
                                    </div>
                                    <div class="container">
                                        <div  class="row my-8">
                                            <div class="col-sm-12 offset-sm-13">

                                                     <div class="mb-3">
                                                         <label for="username"  class="form-label"><b>Username</b></label>
                                                         <input type="text" name="username" id="username" class="form-control" placeholder=" Enter your username">
                                                     </div>
                                                    <div class="mb-3">
                                                        <label for="password" class="form-label"><b>Password</b> </label>
                                                        <input type="Password" name="password" id="password" class="form-control" placeholder=" Enter your Password">
                                                    </div>
                                                     <div class="button" style="margin-left:-15px;margin-top:5px;">
                                                        <div class="mb-3">
                                                           <a href="{% url 'reset_password' %}"><small class="text-warning btn-sm text-warning btn-sm"+ style="margin-left:5px;margin-top:10px;"><b>Forgot Password?</b>
                                                               </small></a>
                                                        </div>
                                                        <div class="mb-3">
                                                           <small class="text-success btn-sm" style="margin-left:4px;margin-top:-55px;"><b>New user?</b><a href="{% url 'customer_register' %}"
                                                           class="text-warning btn-sm"><b>create an Account</b></a></small>
                                                        </div>
                                                           <div class="cpl-12 mt-5">
                                                               <input class="btn btn" type="submit" value="Login" style="border-radius:20px;">
                                                                <input class="btn btn" type="submit" value="cancel" style="border-radius:20px;">
                                                           </div>
                                                        </div>

                                                     </div>
                                            </div>
                                        </div>
                                       {% if error %}
                                            <div class="alert alert-danger" role="alert">
                                                {{error}}
                                            </div>
                                       {% endif %}
                                </form>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>


        </main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
$(document).ready(function() {

      $.validator.setDefaults({

        submitHandler: function () {

          form.submit();

        }

      });
      //additional jquery methods
      $.validator.addMethod("alphanumeric", function (value, element) {
        return this.optional(element) ||  /^[a-zA-Z ]+$/.test(value);
      }, "Name should only contain letters and numbers.");



      $.validator.addMethod("noNumbers", function (value, element) {
        return this.optional(element) || !/\d/.test(value);
      }, "Name should not contain numbers.");



      $.validator.addMethod("noDoubleSpace", function (value, element) {
        return this.optional(element) || !/\s{2}/.test(value);
      }, "Name should not contain double spaces.");



      $.validator.addMethod("coursefee", function(value, element) {
        return this.optional(element) || /^(\d{1,2})(,\d{2})*(,\d{1,3}){1}\.\d{2}?$/.test(value);
      }, "Amount should not start with 0.");



      $.validator.addMethod("duration", function(value, element) {
        return this.optional(element) || /^[1-9]{1}[0-9]{0,2}$/.test(value);
      }, "Course Duration should have only Num & Shouldn't start with 0.");



      $.validator.addMethod("courseofferprice", function(value, element) {
        return this.optional(element) || /^(\d{1,2})(,\d{2})*(,\d{1,3}){1}\.\d{2}?$/.test(value);
      }, "Amount should not start with 0.");



      $.validator.addMethod("branch", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z ]+$/.test(value);
      }, "Name should only contain letters.");



      $.validator.addMethod("prerequisite_s", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{1,80}$/.test(value);
      }, "Name should only contain letters and numbers.");



      $.validator.addMethod("prerequisite_h", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{1,80}$/.test(value);
      }, "Name should only contain letters and numbers.");



      $.validator.addMethod("short_description", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{40,120}$/.test(value);
      }, "Name should contains min 40 & max 120 characters only.");



      $.validator.addMethod("long_description", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{40,800}$/.test(value);
      }, "Name should contains min 40 & max 800 characters only.");



      $.validator.addMethod("alphanumeric", function (value, element) {
         return this.optional(element) || /^[a-zA-Z ]+$/.test(value);
      }, "Name should only contain letters.");

      $.validator.addMethod("noNumbers", function (value, element) {
         return this.optional(element) || !/\d/.test(value);
      }, "Name should not contain numbers.");

      $.validator.addMethod("noDoubleSpace", function (value, element) {
          return this.optional(element) || !/\s{2}/.test(value);
      }, "Name should not contain double spaces.");

      $.validator.addMethod("noDoubleDot", function (value, element) {
          return this.optional(element) || !/\.\./.test(value);
      }, "Email should not contain double dots consecutively.");






      $.validator.addMethod("noSpace", function (value, element) {
         return this.optional(element) || !/\s/.test(value);
      }, "Email should not contain spaces.");

      $.validator.addMethod("atLeastOneCharBeforeAt", function (value, element) {
          return this.optional(element) || /^[^@]+@/.test(value);
      }, "Email should have at least one character before the '@' symbol.");

      $.validator.addMethod("phoneNumber", function (value, element) {
          return this.optional(element) || /^[6-9]\d{9}$/.test(value);
      }, "Phone number should start with 6, 7, 8, or 9 and have a length of 10.");


  $('#login_Form').validate({
    rules: {
      username: {
       required: true,
       noNumbers: true,
       alphanumeric: true,
       noDoubleSpace: true,
      },
      password: {
         required: true,
      },
    },
    messages: {
      username: {
        required: '*Please enter your username',
      },
      password: {
         required: '*Please enter your password',
      },
    },
  });
});





</script>


{% endblock%}

