{% extends 'farm_app/base.html' %}
{% block content %}
<!-- main-area -->
<head>
    <style>
        .required:after{
           content: "*";
           color: red;
        }
        .error{
           color: red;
        }
    </style>
</head>
        <main>



            <!-- checkout-area -->
            <div class="checkout-area pt-90 pb-90">
                <div class="container">
                      <div class="row">
                         <h3 class="text-warning">Welcome:<span class="text-capitalize">{{ pro.username }}</span></h3>
                     </div>
                    </br><br><br><br>
<!--                            <div class="down" style="margin-top:50px;margin-left: -100px;">-->
                                <div class="col-sm-2 border-end">
                                    <ul class="list-unstyled">
                                        <li class="d-grid"><a href="{% url 'profile'  %}" class="btn  btn" style="margin-top:-140px;border-radius:10px; font-size:11px;">Profile</a></li>
                                        </br>
                                        <li class="d-grid"><a href="{% url 'address' %}" class="btn btn" style="margin-top:-120px;border-radius:10px; font-size:11px;">Address</a></li>
                                    </ul>
                                </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <form method="post" id="profile_Form" novalidate class="shadow p-5">
                                         {% csrf_token %}
                                    <div class="card-header row justify-content-center breadcrumb-area breadcrumb-bg-two" style="margin-top:-100px; margin-left:-48px;margin-right:-48px;"><h3>Profile Details</h3></div>                                        <br>
                                          <div class="mb-3">
                                              <label  class="form-label"><b>Name</b></label>
                                            <input type="text"  name="name" placeholder="Enter your name"  class="form-control">
                                          </div>
                                          <div class="mb-3">
                                            <label  class="form-label"><b>Phone Number</b></label>
                                            <input type="text"  name="mobile" placeholder="Enter  your  Phone number"  class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label  class="form-label"><b>Street Address</b></label>
                                            <input type="text" name="address"  placeholder="Enter Street Address" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="row">
                                           <div class="col-md-6">
                                               <br>
                                               <label for="state" class="form-label required"><b>State</b></label>
                                               <input type="text" name="state"  placeholder="State" class="form-control" id="state">
                                            </div>
                                            <div class="col-md-6">
                                                <br>
                                                 <label  class="form-label required"><b>City</b></label>
                                                <input type="text" name="city" class="form-control" placeholder="City " style="height:37px;border: 1px solid #ddd;">
                                            </div>
                                            <br>
                                            <br>
                                            <br>
                                            <br>
                                            <div class="col-md-6">
                                                <br>
                                                <label  class="form-label required"><b>Town</b></label>
                                                <input type="text" name="town" class="form-control"  placeholder="Town"  style="height:37px;border: 1px solid #ddd;">
                                            </div>

                                            <div class="col-md-6">
                                                <br>
                                                 <label  class="form-label required"><b>Postal zip</b></label>
                                                <input type="text" name="zipcode"  class="form-control" placeholder="Postal zip"  style="height:37px;border: 1px solid #ddd;">
                                            </div>
                                        </div>
                                        <div class="cpl-12 mt-5">
                                            <button type="submit" class="btn btn" style="border-radius:20px;">submit</button>
                                            <button type="submit" class="btn btn" style="border-radius:20px;">Cancel</button>
                                        </div>
                                    </form>
                        </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- checkout-area-end -->

        </main>
        <!-- main-area-end-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script>
$(document).ready(function() {

      $.validator.setDefaults({

        submitHandler: function () {

          form.submit();

        }

      });
      //additional jquery methods
      $.validator.addMethod("alphanumeric", function (value, element) {
        return this.optional(element) ||  /^[a-zA-Z ]+$/.test(value);
      }, "Name should only contain letters and numbers.");



      $.validator.addMethod("noNumbers", function (value, element) {
        return this.optional(element) || !/\d/.test(value);
      }, "Name should not contain numbers.");



      $.validator.addMethod("noDoubleSpace", function (value, element) {
        return this.optional(element) || !/\s{2}/.test(value);
      }, "Name should not contain double spaces.");



      $.validator.addMethod("coursefee", function(value, element) {
        return this.optional(element) || /^(\d{1,2})(,\d{2})*(,\d{1,3}){1}\.\d{2}?$/.test(value);
      }, "Amount should not start with 0.");



      $.validator.addMethod("duration", function(value, element) {
        return this.optional(element) || /^[1-9]{1}[0-9]{0,2}$/.test(value);
      }, "Course Duration should have only Num & Shouldn't start with 0.");



      $.validator.addMethod("courseofferprice", function(value, element) {
        return this.optional(element) || /^(\d{1,2})(,\d{2})*(,\d{1,3}){1}\.\d{2}?$/.test(value);
      }, "Amount should not start with 0.");



      $.validator.addMethod("branch", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z ]+$/.test(value);
      }, "Name should only contain letters.");



      $.validator.addMethod("prerequisite_s", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{1,80}$/.test(value);
      }, "Name should only contain letters and numbers.");



      $.validator.addMethod("prerequisite_h", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{1,80}$/.test(value);
      }, "Name should only contain letters and numbers.");



      $.validator.addMethod("short_description", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{40,120}$/.test(value);
      }, "Name should contains min 40 & max 120 characters only.");



      $.validator.addMethod("long_description", function(value, element) {
        return this.optional(element) || /^\S[A-Za-z0-9., ]{40,800}$/.test(value);
      }, "Name should contains min 40 & max 800 characters only.");



      $.validator.addMethod("alphanumeric", function (value, element) {
         return this.optional(element) || /^[a-zA-Z ]+$/.test(value);
      }, "Name should only contain letters.");

      $.validator.addMethod("noNumbers", function (value, element) {
         return this.optional(element) || !/\d/.test(value);
      }, "Name should not contain numbers.");

      $.validator.addMethod("noDoubleSpace", function (value, element) {
          return this.optional(element) || !/\s{2}/.test(value);
      }, "Name should not contain double spaces.");

      $.validator.addMethod("noDoubleDot", function (value, element) {
          return this.optional(element) || !/\.\./.test(value);
      }, "Email should not contain double dots consecutively.");






      $.validator.addMethod("noSpace", function (value, element) {
         return this.optional(element) || !/\s/.test(value);
      }, "Email should not contain spaces.");

      $.validator.addMethod("atLeastOneCharBeforeAt", function (value, element) {
          return this.optional(element) || /^[^@]+@/.test(value);
      }, "Email should have at least one character before the '@' symbol.");

      $.validator.addMethod("phoneNumber", function (value, element) {
          return this.optional(element) || /^[6-9]\d{9}$/.test(value);
      }, "Phone number should start with 6, 7, 8, or 9 and have a length of 10.");




  $('#profile_Form').validate({
    rules: {
      name: {
       required: true,
       noNumbers: true,
       alphanumeric: true,
       noDoubleSpace: true,
      },
      email: {
      required: true,
      noDoubleDot: true,
      noSpace: true,
      atLeastOneCharBeforeAt: true,
      },
      mobile: {
        required: true,
        number: true,
        phoneNumber: true,
        minlength: 10,
        maxlength: 10,
      },
      address: {
         required: true,
      },
      zipcode: {
        required: true,
        number: true,
        minlength: 6,
      },
      town: {
      required: true,
      noNumbers: true,

      },
      state: {
      required: true,
      noNumbers: true,
      },
      city: {
      required: true,
      noNumbers: true,

      }
     },
    messages: {
      name: {
        required: 'Please enter your  name',
      },
      address: {
         required: 'Please enter your address',
      },
      email: {
         required: 'Please enter your email',
      },
      state: {
         required: 'Please enter your state',
      },
      city: {
         required: 'Please enter your city',
      },
      town: {
         required: 'Please enter your Town',
      },
      mobile: {
        required: 'Please enter your phone number',
        number: 'Please enter a valid phone number',
        minlength: 'phone_number must be 10 digits',
        maxlength: 'phone_number must be 10 digits'
      },
      zipcode: {
      required: 'Please enter your Postal zip',

      },

    },
  });
});
</script>
{% endblock %}