{% extends 'adminpanel/base.html' %}
{% block content %}


<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Employee details</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Employee details</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form action="#" method="POST" id="Employeeform" >
        {% csrf_token %}
                                <div class="form-group">
                                    <label for="Employee_id" >Employee Id</label>
                                    <input class="form-control" id="Employee_id" name="Employee_id" placeholder="Employee id" type="text">

                                </div>
                                <div class="form-group ">
                                    <label for="Employee_name" >Employee Name</label>
                                    <input class="form-control" id="Employee_name" name="Employee_name" placeholder="Employee Name" type="text">

                                </div>
<!--                            </div>-->
                            <div class="form-group">
                                <label for="Phone_Number">Phone Number</label>
                                <input class="form-control" id="Phone_Number" name="Phone_Number" placeholder="Phone number"
                                      type="text">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input class="form-control" name="Email" id="Email"
                                       placeholder="Email"
                                       type="text">

                            </div>
                                <div class="form-group ">
                                    <label for="Designation">Designation</label>
                                    <input class="form-control" name="Designation" placeholder="Designation" type="text" id="Designation">
                                </div>


                                <div class="form-group">
                                      <label for="department">Departments <b style="color: red;">*</b></label>
                                      <select  id="department" name="department" class="form-control select2" style="width: 100%;background-color: #F8F8FF;"  >
                                        <option selected="selected">Select</option>
                                        <option>Production</option>
                                        <option >CRM</option>
                                        <option>HRM</option>
                                        <option>Web Content</option>
                                        <option>Marketing & promotions</option>
                                          <option>Others</option>

                                      </select>
                                </div>



                              <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit</button>

                              </div>
       </form>
      </div>
    </div>
  </div>
</div>
<!-- .Modal end-->
<!--<div class="modal fade" id="modal-lg">-->
<!--  <div class="modal-dialog" >-->
<!--    <div class="modal-content">-->
<!--      <div class="modal-header">-->
<!--        <h5 class="modal-title"><i class="fa fa-plus"></i>&nbsp;&nbsp;Edit Employee</h5>-->
<!--        <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </button>-->
<!--      </div>-->

<!--      <div class="modal-body">-->
<!--        <form action="#" method="POST">-->
<!--        {% csrf_token %}-->
<!--                                <div class="form-group">-->
<!--                                    <label for="Employee_id1">Employee Id</label>-->
<!--                                    <input class="form-control" id="Employee_id1" name="Employee_id1" placeholder="Employee id" type="text">-->
<!--                                </div>-->
<!--                                <div class="form-group ">-->
<!--                                    <label>Employee Name</label>-->
<!--                                    <input class="form-control" name="Employee_Name" placeholder="Employee Name" type="text">-->
<!--                                </div>-->
<!--&lt;!&ndash;                            </div>&ndash;&gt;-->
<!--                            <div class="form-group">-->
<!--                                <label>Phone Number</label>-->
<!--                                <input class="form-control" name="Phone_Number" placeholder="Phone number"-->
<!--                                       type="text">-->
<!--                            </div>-->
<!--                            <div class="form-group">-->
<!--                                <label>Email</label>-->
<!--                                <input class="form-control" name="Email"-->
<!--                                       placeholder="Email"-->
<!--                                       type="text">-->
<!--                            </div>-->
<!--                                <div class="form-group ">-->
<!--                                    <label>Designation</label>-->
<!--                                    <input class="form-control" name="Designation" placeholder="Employee Name" type="text">-->
<!--                                </div>-->

<!--                                <div class="form-group">-->
<!--                                      <label>Departments <b style="color: red;">*</b></label>-->
<!--                                      <select class="form-control select2" style="width: 100%;background-color: #F8F8FF;"  >-->
<!--                                        <option selected="selected">Select</option>-->
<!--                                        <option>Production</option>-->
<!--                                        <option >CRM</option>-->
<!--                                        <option>HRM</option>-->
<!--                                        <option>Web Content</option>-->
<!--                                        <option>Marketing & promotions</option>-->
<!--                                          <option>Others</option>-->

<!--                                      </select>-->
<!--                                </div>-->



<!--                              <div class="modal-footer">-->
<!--                                <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>-->
<!--                                <button type="submit" class="btn btn-primary">Close</button>-->

<!--                              </div>-->
<!--       </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- .Modal end-->


   <section class="content">
     <div class="container-fluid">
       <div class="row">
         <div class="col-12">
           <div class="card">
              <div class="card-header bg-primary">
<!--                <h3 class="card-title"></h3>-->
                <button type="button" class="btn btn-secondary float-right" data-toggle="modal" data-target="#exampleModal">
                  Add Employee
                </button>
              </div>
              <!-- /.card-header -->
              <div class="card-body text-center">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>

                  <tr>

                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Designation</th>
                    <th>Department</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% if empl %}
                  {% for x in empl %}
                  <tr>
                                <td>{{ x.Employee_id }}</td>
                                <td>{{ x.Employee_name }}</td>
                                <td>{{ x.Email }}</td>
                                <td>{{ x.Phone_Number }}</td>
                                <td>{{ x.Designation }}</td>
                                <td>{{ x.department }}</td>
                                <td>
                                    <a href="{% url 'attendance' x.pk %}">
                                        <button class="badge badge-primary" data-target="#reicept"
                                                type="button"><i
                                                class="fas fa-eye"></i></button>
                                    </a>

                                        <a href="{% url 'update' x.pk %}"><button type="button" class="badge badge-primary" ><i class="fas fa-pen"></i></button></a>



                                    <a href="{% url 'deleteemployee' x.pk %}">
                                        <button class="badge badge-danger" type="button"><i
                                                class="fas fa-trash"></i>
                                        </button>
                                    </a>
                                </td>
                  </tr>
                  {% endfor %}
                  {% endif %}





                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
         </div>
       </div>
     </div>
   </section>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": false,
      "buttons": false,
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--&lt;!&ndash;    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--    <script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>-->
<script>
$(document).ready(function() {

      $.validator.setDefaults({

        submitHandler: function () {

          form.submit();

        }

      });
      //additional jquery methods
      $.validator.addMethod("alphanumeric", function (value, element) {
        return this.optional(element) ||  /^[a-zA-Z ]+$/.test(value);
      }, "Name should only contain letters and numbers.");






      $.validator.addMethod("duration", function(value, element) {
        return this.optional(element) || /^[1-9]{1}[0-9]{0,2}$/.test(value);
      }, "Course Duration should have only Num & Shouldn't start with 0.");


      $.validator.addMethod("alphanumeric", function (value, element) {
         return this.optional(element) || /^[a-zA-Z ]+$/.test(value);
      }, "Name should only contain letters.");

      $.validator.addMethod("noNumbers", function (value, element) {
         return this.optional(element) || !/\d/.test(value);
      }, "Name should not contain numbers.");

      $.validator.addMethod("noDoubleSpace", function (value, element) {
          return this.optional(element) || !/\s{2}/.test(value);
      }, "Name should not contain double spaces.");

      $.validator.addMethod("noDoubleDot", function (value, element) {
          return this.optional(element) || !/\.\./.test(value);
      }, "Email should not contain double dots consecutively.");
      $.validator.addMethod("Email", function (value, element) {
        return this.optional(element) ||  /^[\w.%+-]+@[\w.-]+\.[A-Za-z]{2,}$/.test(value);
      }, "Email should only contain letters and numbers and  character.");

      $.validator.addMethod("phoneNumber", function (value, element) {
          return this.optional(element) || /^[6-9]\d{9}$/.test(value);
      }, "Phone number should start with 6, 7, 8, or 9 and have a length of 10.");
      $.validator.addMethod("Employee_id", function(value, element) {
        return this.optional(element) || /^[0-9]$/.test(value);
      }, "Employee id should contain letters and numbers.");
      $.validator.addMethod("department", function (value, element) {
          return this.optional(element) || /^[A-Za-z\s\-&.,()]*$/.test(value);
      }, "department should contain letters.");
      $.validator.addMethod("designation", function (value, element) {
          return this.optional(element) || /^[A-Za-z\s\-&.,()]*$/.test(value);
      }, "designation should contain letters.");






  $('#Employeeform').validate({
    rules: {
      Employee_id: {
       required: true,
<!--       Employee_id: true,-->
      },
      Employee_name: {
         required: true,


      },
      Phone_Number: {
        required: true,
        number: true,
        phoneNumber: true,
        minlength: 10,
        maxlength: 10,
      },

      Email: {
         required: true,
         Email: true,

      },

      Designation: {
         required: true,
         designation: true,
      },
      department: {
         required: true,
         department: true,
      },

    },
    messages: {
      Employee_id: {
        required: '*Please enter your Employee_id',
      },
      Employee_name: {
         required: '*Please enter your Employee_name',
      },
      Phone_Number: {
         required: '*Please enter your phone number',
      },
      Email: {
         required: '*Please enter your Email',
      },
      Designation: {
         required: '*Please enter your Designation',
      },
      department: {
         required: '*Please enter your Department',
      },
    },
  });
});
</script>

{% endblock %}