{% extends 'adminpanel/base.html' %}
{% block content %}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Cancel Orders Form</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active"><a href="{% url 'cancelorders' %}">Cancel Orders Table</a></li>
              <li class="breadcrumb-item active">Cancel Orders Form</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col">
            <!-- general form elements -->
            <div class="card card-primary ">
              <div class="card-header">
                <h3 class="card-title">Update Cancel Orders</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form>
                <div class="card-body">
                  <div class="row">
                  <div class="form-group col-md-6">
                    <label>Order Id</label>
                    <input class="form-control" type="text" placeholder="Default input">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Customer Id</label>
                    <input class="form-control" type="text" placeholder="Default input">
                  </div>
                  </div>
                  <div class="row">
                  <div class="form-group col-md-6">
                    <label>Product Name</label>
                    <input class="form-control" type="text" placeholder="Default input">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Price</label>
                    <input class="form-control" type="text" placeholder="Default input">
                  </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                  </div>
                  <div class="form-group">
                      <!-- textarea -->
                        <label>Address</label>
                        <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                  </div>
                  <div class="row">
                  <div class="form-group col-md-6">
                    <label>Order Received Date</label>
                    <input class="form-control" type="text" placeholder="Default input">
                  </div>
                  <div class="form-group col-md-6">
                    <label>Payment Status</label>
                    <select class="form-control" name="status" >
                      <option value="">Choose ....</option>
                      <option value="Confirm">Paid</option>
                      <option value="Processing">Processing</option>
                      <option value="Cancel">Unpaid</option>
                    </select>
                  </div>
                  </div>
                  <div class="row">
                  <div class="form-group col-md-6">
                    <label>Shipping Status</label>
                    <select class="form-control" name="status">
                      <option value="">Choose ....</option>
                      <option value="Confirm">Delivered</option>
                      <option value="Processing">Out For Delivery</option>
                      <option value="Pending">Packing</option>
                      <option value="Cancel">Order Received</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label>Order Status</label>
<!--                    <input class="form-control" type="text" placeholder="Default input">-->
                    <select class="form-control" name="status" id="order_status">
                      <option value="">Choose ....</option>
                      <option value="Confirm">Confirm</option>
                      <option value="Processing">Processing</option>
                      <option value="Pending">Pending</option>
                      <option value="Cancel">Cancel</option>
                    </select>
                  </div>
<!--                  <div class="form-check">-->
<!--                    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
<!--                    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
<!--                  </div>-->
                </div>
                  <div class="form-group">
                      <!-- textarea -->
                        <label>Message Box</label>
                        <textarea class="form-control" rows="6" placeholder="Your comments here....."></textarea>
                  </div>
                <!-- /.card-body -->

                <div align="center">
                  <button type="submit" class="btn btn-primary">Update</button>
                  <a href="{% url 'cancelorders' %}"><button type="button" class="btn btn-secondary">Close</button></a>
                </div>
              </form>
            </div>
            <!-- /.card -->
           </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
{% endblock %}